<div class="container">
    <div class="row" style="margin-top: 60px;">
		<div class="container">
		  <div class="row">

		    <div class="col-sm-2"></div>

		    <div class="col-sm-8">
		      	<h4><%= @chat_room.title %></h4>

				<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
				  <%= render @chat_room.messages %>
				</div>
				<br>

				<%= form_for @message, url: '#' do |f| %>
				  <div class="row">
				  	<div class="col-sm-11">
				    	<%= f.text_area :body, class: 'form-control bodyChat' %>
				    	<small class="text-muted">De 2 a 1000 caracteres</small>
					</div>
					<div class="col-sm-1">
						<%= button_tag( class: "chatButtonSend") do %>
						  <i class='fa fa-paper-plane btn btn-success' style="padding: 10px;"></i>
						<% end %>			
				    </div>
				  </div>
				<% end %>
		    </div>

		  <div class="col-sm-2"></div>
		</div>
    </div>
</div>
