<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
             <div class="row" style="margin-top: 80px;">
                <div class="col-md-6 mx-auto">


					<h4><%= @chat_room.title %></h4>

					<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
					  <%= render @chat_room.messages %>
					</div>

					<%= form_for @message, url: '#' do |f| %>
					  <div class="form-group">
					    <%= f.label :Mensaje %>
					    <%= f.text_area :body, class: 'form-control bodyChat' %>
					    
					    <small class="text-muted">De 2 a 1000 caracteres</small>
					  </div>

					  <%= f.submit "Enviar", class: "btn btn-success float-right" %>
					<% end %>

 				</div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->