<h1>Creacion de Usuarios</h1>

<%= form_for :userCreate, url: login_index_path do |f| %>
	<%= f.label :'Nombre Usuario: ' %><%= f.text_field :name %><br>
	<%= f.label :'Apellido Usuario: ' %><%= f.text_field :lastname %><br>
	<%= f.label :'Clave: ' %><%= f.text_field :password %><br>
	<%= f.label :'Numero de documento:' %><%= f.text_field :document %><br>
	<%= f.label :'Correo electronico: ' %><%= f.text_field :mail %><br>
	<%= f.label :'Telefono: ' %><%= f.text_field :phone %><br>
	<%= f.label :'Profesion: ' %><%= f.text_field :profession %><br>
	<%= f.label :'Fundacion: ' %><%= f.text_field :id_fundation %><br>
	<%= f.label :'Rol: ' %><%= f.text_field :role %><br>
	<%= f.label :'Estado: ' %><%= f.text_field :state %><br>
	<%= f.submit %>
<% end %>