
<!DOCTYPE html>
<html>
<head>
    <title>drugfree</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style><%= yield :stylesheets %></style>
  </head>
<body>
  <!-- MENU PRINCIPAL -->
  <div id="topMenu" class="h6 nav justify-content-end shadow-lg p-3 mb-5 ">
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link text-white buttonHomeEfect" href="/index">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white buttonHomeEfect" href="/chat_rooms">Chat</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white buttonHomeEfect" href="/events">Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white buttonHomeEfect" href="/forum">Foro</a>
      </li>
      <li class="nav-item text-white" >
        <% if current_user %>
          <span class="current_user nav-link"> <%= current_user.name %></span>
        <% end %>
      </li>
      <li>
        <!-- Login -->
        <% if current_user %>
             <div> 
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link text-white buttonHomeEfect" %>
             </div>
        <% else %>
             <div> 
                <%= link_to 'Login',new_user_session_path , class:"nav-link text-white buttonHomeEfect" %>
             </div>
        <% end %>
      </li>
    </ul>
  </div>


      <%= yield %>

  <br>

  <!-- Alertas -->
    <% flash.each do |key, value| %>
      <% if key == "alert" %>
        <div id="alert_notification" class="alert alert-danger"><%= value %></div>
      <% elsif key == "notice" %>
        <div id="alert_notification" class="alert alert-success"><%= value %></div>
      <% else %>
        <div id="alert_notification" class="alert alert-secondary"><%= value %></div>
      <% end %>
    <% end %>
  <br>
  <!-- Footer
================================================== -->
<footer id="footerHome" style="background-color: #D9D9D9; height: 350px;">
  <div class="container-fluid " >
    <div class="container">
      <div class="row py-3">

        <div class="col-md-5">
          <p class ="font-weight-bold">Contactanos</p>
          <p>Correo Electronico: sbas23@gmail.com</p>
          <p>Celular: 3124327738</p>
        </div>

        <div class="col-md-5">
          <p class ="font-weight-bold">Patrocinadores:</p>
        </div>

        <div class="col-md-2">
          <div class="d-inline-block">
            
            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.facebook.com/">
                <i class="fa fa-2x fa-fw fa-facebook"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://twitter.com/">
                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block">
              <a href="https://www.linkedin.com/company/">
                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>  

</body>

</html>