
<!DOCTYPE html>
<html>
<head>
    <title>drugfree</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
    
</head>
<body>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
    <% end %>

    <!-- MENU PRINCIPAL -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-collapse collapse">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" style="color: #A4A4A4" href="/index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #A4A4A4" href="#">Chat</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" style="color: #A4A4A4" href="#">Citas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: #A4A4A4" href="/forum">Foro</a>
                </li>
                <li class="nav-item" style="margin-top: 5px;">
                  <!-- Login -->
                  <% if current_user %>
                       <div class="nav-link" > 
                          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                       </div>
                  <% else %>
                       <div class="nav-link"> 
                          <%= link_to 'Login', new_user_session_path %>
                       </div>
                  <% end %>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>